@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  font-family: "Raleway", sans-serif;
}
.cursive {
  font-family: "Langar", cursive;
  font-weight: 700;
}

.sourceCode {
  font-family: "Source Code Pro", monospace;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.bg-editor {
  background-color: #282a36;
}
.editor-text {
  color: #8be9fd;
}

/* Router transitions */

.switch-wrapper {
  position: relative;
}

/* .switch-wrapper > div {
  position: absolute;
} */
